@import "./typography.css";

#root {
  max-width: 100%;
  margin: 2px auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* En tu archivo CSS global */
.badge-pendiente {
  background-color: #fef3c7;
  color: #92400e;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
}

.badge-activo {
  background-color: #d1fae5;
  color: #065f46;
}

table {
  border-spacing: 0 0.5rem;
}

th {
  white-space: nowrap;
}
